html {
    font-size: 14px;
}

body {
    font-family: $siteFont;
    font-weight: 400;
    color: $negro;
}

p {
    font-size: 1rem;
    margin: 1rem 0px;
}

a {
    text-decoration: none;
    color: $rosa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $siteFont;
    max-width: 100vw;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    color: map-get($titulos, colorH1);
    font-size: map-get($titulos, fontH1);
}

h2 {
    color: map-get($titulos, colorH2);
    font-size: map-get($titulos, fontH2);
}

h3 {
    color: map-get($titulos, colorH3);
    font-size: map-get($titulos, fontH3);
}

h4,
h5,
h6 {
    font-weight: 500;
    color: map-get($titulos, colorH46);
}

h4 {
    font-size: map-get($titulos, fontH4);
}

h5 {
    font-size: map-get($titulos, fontH5);
}

h6 {
    font-size: map-get($titulos, fontH6);
}

.destacado {
    font-family: $superFont;
    font-weight: 600;
}

span.resaltar {
    color: $verde  !important;
    display: block;
}

span.destacar {
    color: $verdosoAzul  !important;
    font-weight: bold;
}

strong {
    font-weight: 500;
    color: $superNegro;
}

section {
    margin: 1.75rem 0px;
    border-bottom: 1px solid $grisClaro;
    padding-bottom: 1.5rem;
}

article {
    margin: 1.875rem 0px;
}

@mixin fullWidth {
    width: 100%;
    height: 100%;
}

@mixin posicion($posicion,$top,$izq) {
    position: $posicion;
    top: $top;
    left: $izq;
}

.overlay {
    @include posicion(absolute, 0, 0);
    @include fullWidth();
    @extend .zindex-1;
    background-color: rgba($superNegro, .3);
}

@for $i from 1 through 5 {
    .zindex-#{$i}{
        z-index: $i * 100;
    }
}

.sticky-top {
    @include posicion(sticky, 0, 0);
    @extend .zindex-5;
}