.navbarAstor {
    background-color: $azulOscuro;
    height: 5rem;

    .navbar__logo {
        img {
            height: 2rem;
        }
    }

    .collapse.show,
    .collapsing {
        margin-top: 1rem;
        padding-right: 1rem;
        background-color: $azulVerdoso;
    }
}