// COLORES
$rosa: #FF7BAC;
$azulOscuro: #022859;
$azulVerdoso: #03658C;
$verdosoAzul: #037F8C;
$verde: #03A696;
$blanco: #FFFFFF;
$grisClaro: #F4F4F4;
$negro: #333333;
$superNegro: #000000;

// TIPOGRAFÍAS
$siteFont: 'Raleway', sans-serif;
$superFont: 'Dancing Script', cursive;
$h1: 2em;
$h2: 1.8em;
$h3: 1.6em;
$h4: 1.4em;
$h5: 1.3em;
$h6: 1.2em;
$p: 1em;