@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@400;500;600&display=swap");
/* ANIMACIONES KEYFRAMES */
@keyframes titulo {
  0% {
    opacity: 0;
    width: 35rem; }
  50% {
    opacity: .5;
    width: 42rem; }
  75% {
    opacity: .75;
    width: 38rem; }
  100% {
    opacity: 1;
    width: 40rem; } }

html {
  font-size: 14px; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #333333; }

p {
  font-size: 1rem;
  margin: 1rem 0px; }

a {
  text-decoration: none;
  color: #FF7BAC; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  max-width: 100vw; }

h1,
h2,
h3 {
  font-weight: 600; }

h1 {
  color: #022859;
  font-size: 2em; }

h2 {
  color: #03658C;
  font-size: 1.8em; }

h3 {
  color: #037F8C;
  font-size: 1.6em; }

h4,
h5,
h6 {
  font-weight: 500;
  color: #333333; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.2em; }

.destacado {
  font-family: "Dancing Script", cursive;
  font-weight: 600; }

span.resaltar {
  color: #03A696 !important;
  display: block; }

span.destacar {
  color: #037F8C !important;
  font-weight: bold; }

strong {
  font-weight: 500;
  color: #000000; }

section {
  margin: 1.75rem 0px;
  border-bottom: 1px solid #F4F4F4;
  padding-bottom: 1.5rem; }

article {
  margin: 1.875rem 0px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.zindex-1, .overlay {
  z-index: 100; }

.zindex-2 {
  z-index: 200; }

.zindex-3 {
  z-index: 300; }

.zindex-4 {
  z-index: 400; }

.zindex-5, .sticky-top {
  z-index: 500; }

.sticky-top {
  position: sticky;
  top: 0;
  left: 0; }

.navbarAstor {
  background-color: #022859;
  height: 5rem; }
  .navbarAstor .navbar__logo img {
    height: 2rem; }
  .navbarAstor .collapse.show,
  .navbarAstor .collapsing {
    margin-top: 1rem;
    padding-right: 1rem;
    background-color: #022859; }
  .navbarAstor .nav-rosa {
    color: #FF7BAC !important;
    border-bottom: 3px solid #022859; }
    .navbarAstor .nav-rosa.active-rosa {
      font-weight: 900; }
    .navbarAstor .nav-rosa:hover {
      font-weight: 900;
      border-bottom: 3px solid #FF7BAC; }

.headerColor *, .header *, .header--home * {
  color: #FFFFFF; }

.header {
  padding: 4rem 0;
  background-color: #022859;
  text-align: left; }
  .header .header__animacion {
    z-index: 2;
    width: 40rem;
    animation-name: titulo;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1; }
    .header .header__animacion .header__titulo h1 {
      color: #FFFFFF;
      margin: 1.7rem; }
  .header .header__descripcion {
    color: #F4F4F4; }

.header--home {
  position: relative;
  height: calc(100vh - 5rem);
  background-image: url(../images/presentacion.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  background-color: #03A696;
  color: #FFFFFF;
  padding: 2rem; }
  .footer .footer__widget li a {
    color: #FFFFFF;
    font-weight: 600; }
  .footer .footer__widget .footer__widget__lista, .footer .footer__widget .footer__widget__lista--redes {
    list-style: none;
    text-align: center;
    padding: 0; }
  .footer .footer__widget .footer__widget__lista--redes {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: .8rem; }
  .footer .footer__widget .footer__widget__img {
    align-self: center; }
    .footer .footer__widget .footer__widget__img img {
      width: 5rem; }
  .footer .footer__widget .footer__widget__titulo {
    color: #FFFFFF;
    margin-bottom: 1rem;
    text-align: center; }

.copyright {
  padding: .20rem 0px;
  background-color: #022859;
  color: #FFFFFF;
  text-align: center; }
  .copyright p {
    font-size: .9rem; }

.section__titulo {
  margin: 1rem 0 1rem .5rem; }

.section__servicios h3 {
  margin: .9rem 0; }

.boton, .callToAction .callToAction__contacto__boton, .section__contacto .section__contacto__formulario input[type='submit'] {
  display: inline-block;
  width: fit-content;
  padding: .8rem 1rem;
  border-radius: 4px;
  border: 1px #FF7BAC solid;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9rem;
  text-align: center; }
  .boton:hover, .callToAction .callToAction__contacto__boton:hover, .section__contacto .section__contacto__formulario input:hover[type='submit'] {
    color: #FFFFFF;
    background-color: #FF7BAC;
    border-color: #FFFFFF;
    cursor: pointer; }

.imgTrabajos:hover {
  transform: rotate(3deg) scale(0.98); }

.callToAction {
  padding: 3rem 0;
  background-color: #FF7BAC;
  text-align: center;
  margin-bottom: 1rem; }
  .callToAction .callToAction__contacto__titulo {
    color: #FFFFFF; }
  .callToAction .callToAction__contacto__mensaje {
    color: #F4F4F4; }
  .callToAction .callToAction__contacto__boton {
    color: #FF7BAC;
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
    .callToAction .callToAction__contacto__boton:hover {
      color: #e25d8e;
      background-color: #F4F4F4; }

.section__trabajos--home h4 {
  margin: .8rem 0; }

.section__contacto {
  border-bottom: none; }
  .section__contacto .section__contacto__formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto; }
  .section__contacto .section__contacto__formulario input,
  .section__contacto .section__contacto__formulario select,
  .section__contacto .section__contacto__formulario textarea {
    margin: 1rem 0px;
    padding: .75rem;
    border-radius: .5rem;
    background-color: #F4F4F4;
    border: none; }
  .section__contacto .section__contacto__formulario input[type='submit'] {
    background-color: #FF7BAC;
    color: #F4F4F4; }
    .section__contacto .section__contacto__formulario input[type='submit']:hover {
      background-color: #e25d8e;
      color: #F4F4F4; }
  .section__contacto .iframeMapa {
    height: 40rem; }

.section__microServicio {
  border-bottom: none;
  padding: 0; }

.section__trabajos {
  border-bottom: none; }
  .section__trabajos .section__trabajos__container__trabajo {
    position: relative;
    margin: 0; }
    .section__trabajos .section__trabajos__container__trabajo .section__trabajos__container__trabajo__hover {
      position: absolute;
      top: 0;
      left: calc(var(--bs-gutter-x) * .5);
      background-color: rgba(3, 101, 140, 0.7);
      height: 100%;
      width: calc(100% - var(--bs-gutter-x));
      display: flex;
      justify-content: end;
      align-items: end;
      opacity: 0; }
      .section__trabajos .section__trabajos__container__trabajo .section__trabajos__container__trabajo__hover .section__trabajos__container__trabajo__hover__titulo {
        color: #FFFFFF;
        margin: 0 1rem 1rem 1rem; }
    .section__trabajos .section__trabajos__container__trabajo:hover .section__trabajos__container__trabajo__hover {
      z-index: 2;
      opacity: 1;
      transition: all 1s; }

.section__nosotros__article__texto {
  margin: 0 1rem; }
