/*
COLORES
 - Rosa: #FF7BAC
 - Azúl oscuro: #022859
 - Azúl verdoso: #03658C
 - Verdoso azúl: #037F8C
 - Verde: #03A696
 - Blanco: #FFFFFF
 - Gris: #F4F4F4
 - Negro: #333333

TIPOGRAFÍAS
 - H1: Raleway Semibold 2em
 - H2: Raleway Semibold 1.8em
 - H3: Raleway Semibold 1.6em
 - H4: Raleway Medium 1.4em
 - H5: Raleway Medium 1.3em
 - H6: Raleway Medium 1.2em
 - p: Raleway thin 1em
 - strong: Raleway regular
 - destacado: Dancing Script Semibold
*/

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@400;500;600&display=swap');

/* ESTILOS BASE */
html {
    font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #333333;
}

p {
    font-size: 1rem;
    margin: 1rem 0px;
}

a {
    text-decoration: none;
    color: #FF7BAC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    max-width: 100vw;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    color: #022859;
    font-size: 2rem;
}

h2 {
    color: #03658C;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
    color: #037F8C;
}

h4,
h5,
h6 {
    font-weight: 500;
    color: #333333;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

.destacado {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

span {
    color: #03A696 !important;
}

strong {
    font-weight: 500;
    color: #000000;
}

section {
    margin: 1.75rem 0px;
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 1.5rem;
}

article {
    margin: 1.875rem 0px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, .3);
}

.zindex-5 {
    z-index: 500;
}

.zindex-4 {
    z-index: 400;
}

.zindex-3 {
    z-index: 300;
}

.zindex-2 {
    z-index: 200;
}

.zindex-1 {
    z-index: 100;
}

/* SITIO */

.sticky-top {
    position: sticky;
    top: 0;
}

.navbarAstor {
    background-color: #022859;
    height: 5rem;
}

.navbar__menu {
    height: 100%;
}

.navbar__logo img {
    height: 2rem;
}

.navbar__menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: stretch;
}

.navbar__menu ul a {
    display: flex;
    font-weight: 600;
    border-bottom: 2px #022859 solid;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

.navbar__menu ul a:hover {
    border-bottom: 2px #FFFFFF solid;
    color: #e25d8e;
    transform: scale(1.1);
}

.header *,
.header--home * {
    color: #FFFFFF;
}

.header {
    padding: 4rem 0;
    background-color: #022859;
    text-align: left;
}

.header--home {
    position: relative;
    height: calc(100vh - 5rem);
    background-image: url(../images/presentacion.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__animacion {
    z-index: 2;
    width: 40rem;
    animation-name: titulo;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}

.header__titulo h1 {
    color: #FFFFFF;
    margin: 1.7rem;
}

.header__descripcion {
    /* width: 30rem; */
    color: #F4F4F4;
}

.section__titulo {
    margin: 1rem 0 1rem .5rem;
}


.section__servicios h3 {
    margin: .9rem 0;
}

.section__trabajos--home h4 {
    margin: .8rem 0;
}

.boton {
    display: inline-block;
    width: fit-content;
    padding: .8rem 1rem;
    border-radius: 4px;
    border: 1px #FF7BAC solid;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
}

.boton:hover {
    color: #FFFFFF;
    background-color: #FF7BAC;
    border-color: #FFFFFF;
}

.imgTrabajos:hover {
    transform: rotate(3deg) scale(.98);
}

.section__contacto {
    border-bottom: none;
}

.section__contacto__formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.iframeMapa {
    height: 40rem;
}

.section__contacto__formulario input,
.section__contacto__formulario select,
.section__contacto__formulario textarea {
    margin: 1rem 0px;
    padding: .75rem;
    border-radius: .5rem;
    background-color: #F4F4F4;
    border: none;
}

.section__contacto__formulario input[type="submit"] {
    background-color: #FF7BAC;
    color: #F4F4F4;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    width: fit-content;
}

.section__contacto__formulario input[type="submit"]:hover {
    background-color: #e25d8e;
    color: #F4F4F4;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    width: fit-content;
    cursor: pointer;
}

/* SERVICIO MARKETING */
.section__microServicio {
    border-bottom: none;
    padding: 0;
}

.section__microServicio__article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.section__microServicio__article__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.section__microServicio__article__imagen img {
    width: 100%;
}

.callToAction {
    padding: 3rem 0;
    background-color: #FF7BAC;
    text-align: center;
    margin-bottom: 1rem;
}

.callToAction__contacto__titulo {
    color: #FFFFFF;
}

.callToAction__contacto__mensaje {
    color: #F4F4F4;
}

.callToAction__contacto__boton {
    color: #FF7BAC;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.callToAction__contacto__boton:hover {
    color: #e25d8e;
    background-color: #F4F4F4;
}

/* TRABAJOS */
.section__trabajos {
    border-bottom: none;
}

.section__trabajos__container__trabajo {
    position: relative;
    margin: 0;
}

.section__trabajos__container__trabajo__imagen {
    width: fit-content;
    background-color: transparent;
    z-index: 1;
}

.section__trabajos__container__trabajo__imagen img {
    width: 100%;
}

.section__trabajos__container__trabajo__hover {
    position: absolute;
    top: 0;
    left: calc(var(--bs-gutter-x) * .5);
    background-color: rgba(3, 101, 140, .7);
    height: 100%;
    width: calc(100% - var(--bs-gutter-x));
    display: flex;
    justify-content: end;
    align-items: end;
    opacity: 0;
}

.section__trabajos__container__trabajo__hover__titulo {
    color: #FFFFFF;
    margin: 0 1rem 1rem 1rem;
}

.section__trabajos__container__trabajo:hover .section__trabajos__container__trabajo__hover {
    z-index: 2;
    opacity: 1;
    transition: all 1s;
}

/* NOSOTROS */

/* .section__nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .section__nosotros__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
} */

/* .section__nosotros__article__imagen {
    width: 100%;
    display: flex;
    justify-content: center;
} */

/* .section__nosotros__article__imagen img {
    width: 100%;
    max-width: 600px;
} */

.section__nosotros__article__texto {
    margin: 0 1rem;
}

/* .section__asiTrabajamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
} */

/* .section__asiTrabajamos__container {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 1rem;
} */

/* .section__asiTrabajamos__container__imagen {
    display: none;
} */

/* .section__asiTrabajamos__container__imagen img {
    width: 100%;
} */

/* .section__asiTrabajamos__container__etapas__etapa {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
} */

/* .callToAction--nosotros {
    max-width: 1360px;
    margin-bottom: 3rem;
}

.callToAction__contacto--nosotros {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
} */

/* .callToAction__contacto__mensaje p {
    text-align: left;
} */

/* FOOTER */
.footer {
    background-color: #03A696;
    color: #FFFFFF;
    padding: 2rem;
}

.footer__widget__titulo {
    color: #FFFFFF;
    margin-bottom: 1rem;
    text-align: center;
}

.footer__widget__img {
    align-self: center;
}

.footer__widget__img img {
    width: 5rem;
}

.footer__widget__lista {
    list-style: none;
    text-align: center;
    padding: 0;
}

.footer__widget__lista--redes {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: .8rem;
}

.footer__widget li a {
    color: #FFFFFF;
    font-weight: 600;
}

.copyright {
    padding: .20rem 0px;
    background-color: #022859;
    color: #FFFFFF;
    text-align: center;
}

.copyright p {
    font-size: .9rem;
}

/* ANIMACIONES KEYFRAMES */

@keyframes titulo {
    0% {
        opacity: 0;
        width: 35rem;
    }

    50% {
        opacity: .5;
        width: 42rem;
    }

    75% {
        opacity: .75;
        width: 38rem;
    }

    100% {
        opacity: 1;
        width: 40rem;
    }
}