/*
COLORES
 - Rosa: #FF7BAC
 - Azúl oscuro: #022859
 - Azúl verdoso: #03658C
 - Verdoso azúl: #037F8C
 - Verde: #03A696
 - Blanco: #FFFFFF
 - Gris: #F4F4F4
 - Negro: #333333

TIPOGRAFÍAS
 - H1: Raleway Semibold 2em
 - H2: Raleway Semibold 1.8em
 - H3: Raleway Semibold 1.6em
 - H4: Raleway Medium 1.4em
 - H5: Raleway Medium 1.3em
 - H6: Raleway Medium 1.2em
 - p: Raleway thin 1em
 - strong: Raleway regular
 - destacado: Dancing Script Semibold
*/

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@400;500;600&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
}

/* ESTILOS BASE */

html {
    /* Uso esto para poder dimensionar rem y hacer el sitio responsive */
    font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #333333;
}

p {
    font-size: 1rem;
    margin: 1rem 0px;
}

a {
    text-decoration: none;
    color: #FF7BAC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    max-width: 100vw;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    color: #022859;
    font-size: 2rem;
}

h2 {
    color: #03658C;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
    color: #037F8C;
}

h4,
h5,
h6 {
    font-weight: 500;
    color: #333333;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

.destacado {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

span {
    color: #03A696;
}

strong {
    font-weight: 500;
    color: #000000;
}

section {
    margin: 1.75rem 0px;
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 1.5rem;
}

article {
    margin: 1.875rem 0px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

/* SITIO */
.gridcontainer {
    display: grid;
    grid-template-areas: "menu        menu         menu        menu        menu"
        "header      header       header      header      header"
        "contenido   contenido    contenido   contenido   contenido"
        "footer      footer       footer      footer      footer"
        "copy        copy         copy        copy        copy";
    width: 100vw;
}

.navbar {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1.2rem;
    align-items: center;
    background-color: #022859;
    /* max-height: 8rem; */
    max-width: 100vw;
    position: sticky;
    top: 0px;
    z-index: 999;
    padding: 1rem 0px;
}

.navbar__menu {
    height: 100%;
}

.navbar__logo a>img {
    height: 2rem;
}

.navbar__menu ul {
    display: flex;
    list-style: none;
    align-items: stretch;
    height: 100%;
    width: 23.75rem;
    justify-content: space-between;
}

.navbar__menu ul a {
    display: flex;
    font-weight: 600;
    border-bottom: 2px #022859 solid;
    align-items: center;
    width: 10rem;
    justify-content: center;
}

.navbar__menu ul a:hover {
    border-bottom: 2px #FFFFFF solid;
    transform: scale(1.1);
    /* transition: all .5s; */
}

.header {
    grid-area: header;
    width: 100vw;
    height: 200px;
    background-color: #022859;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.header--home {
    grid-area: header;
    position: relative;
    width: 100vw;
    height: calc(100vh - 8rem);
    background-image: url(../images/presentacion.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__titulo {
    z-index: 2;
    width: 40rem;
    animation-name: titulo;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}

.header__titulo h1 {
    color: #FFFFFF;
    margin: 1.7rem;
}

.header__descripcion {
    width: 30rem;
    color: #F4F4F4;
}

.main {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    max-width: 1360px;
}

.section__article__servicio {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* height: 17.5rem; */
    overflow: hidden;
    gap: 1rem;
}

.section__servicios h2 {
    margin: 0 2rem;
}

.section__article__servicio__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 2rem;
}

.section__article__servicio__img img {
    width: 100vw;
}

.invertido {
    flex-direction: column;
}

.boton {
    display: inline-block;
    width: fit-content;
    padding: .8rem 1rem;
    border-radius: 4px;
    border: 1px #FF7BAC solid;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
}

.boton:hover {
    color: #FFFFFF;
    background-color: #FF7BAC;
    border-color: #FFFFFF;
}

.section__trabajos--home {
    display: flex;
    flex-direction: column;
}

.section__trabajos--home h2 {
    margin: 0 2rem;
}

.section__trabajos__container--home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.section__trabajos__trabajo--home {
    /* width: 300px; */
    margin: 1rem 0px;
}

.section__trabajos__trabajo--home img {
    width: 100vw;
}
.section__trabajos__trabajo--home img:hover {
    transform:rotate(3deg) scale(.98);
}

.section__trabajos__trabajo__info--home {
    padding: 0 2rem;
}

.section__trabajos__trabajo--home h4 {
    margin-top: 1rem;
}

.section__trabajos__boton--home {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.section__nosotros--home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__contacto h2 {
    margin: 0 2rem;
}

.section__nosotros__info {
    margin: 0px 2rem;
}

.section__nosotros__img img {
    max-width: 100vw;
}

.section__contacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: none;
}

.section__contacto__container {
    display: flex;
    flex-direction: column;
    /* justify-content: stretch;
    align-items: stretch; */
}

.section__contacto__mapa {
    width: 100vw;
    display: flex;
}

.section__contacto__formulario {
    padding: 0px 2rem;
}

.section__contacto__formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__contacto__formulario input,
.section__contacto__formulario select,
.section__contacto__formulario textarea {
    margin: 1rem 0px;
    padding: .75rem;
    border-radius: .5rem;
    background-color: #F4F4F4;
    border: none;
}

.section__contacto__formulario input[type="submit"] {
    background-color: #FF7BAC;
    color: #F4F4F4;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    width: fit-content;
}

.section__contacto__formulario input[type="submit"]:hover {
    background-color: #e25d8e;
    color: #F4F4F4;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    width: fit-content;
    cursor: pointer;
}

/* SERVICIO MARKETING */
.section__microServicio {
    border-bottom: none;
    padding: 0;
}
.section__microServicio__article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.section__microServicio__article__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.section__microServicio__article__imagen img {
    width: 100%;
}

.callToAction {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: #FF7BAC;
    text-align: center;
}

.callToAction__contacto__titulo {
    color: #FFFFFF;
}

.callToAction__contacto__mensaje {
    color: #F4F4F4;
}

.callToAction__contacto__boton {
    color: #FF7BAC;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.callToAction__contacto__boton:hover {
    color: #e25d8e;
    background-color: #F4F4F4;
}

/* TRABAJOS */
.section__trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
}

.section__trabajos__container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.section__trabajos__container__trabajo {
    width: calc(50% - 1.5rem);
    position: relative;
    margin: 0;
}

.section__trabajos__container__trabajo__imagen {
    width: fit-content;
    background-color: transparent;
    z-index: 1;
}

.section__trabajos__container__trabajo__imagen img {
    width: 100%;
}

.section__trabajos__container__trabajo__hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(3, 101, 140, .7);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    opacity: 0;
}

.section__trabajos__container__trabajo__hover__titulo {
    color: #FFFFFF;
    margin: 0 1rem 1rem 1rem;
}

.section__trabajos__container__trabajo:hover .section__trabajos__container__trabajo__hover {
    z-index: 2;
    opacity: 1;
    transition: all 1s;
}

/* NOSOTROS */

.section__nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__nosotros__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.section__nosotros__article__imagen {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section__nosotros__article__imagen img {
    width: 100%;
    max-width: 600px;
}
.section__nosotros__article__texto {
    margin: 0 1rem;
}
.section__asiTrabajamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section__asiTrabajamos__container {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 1rem;
}
.section__asiTrabajamos__container__imagen {
    display: none;
}
.section__asiTrabajamos__container__imagen img {
    width: 100%;
}

.section__asiTrabajamos__container__etapas__etapa {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
}

.callToAction--nosotros {
    max-width: 1360px;
    margin-bottom: 3rem;
}

.callToAction__contacto--nosotros {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}

.callToAction__contacto__mensaje p {
    text-align: left;
}

/* FOOTER */
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    background-color: #03A696;
    color: #FFFFFF;
    padding: 2rem;
    row-gap: 2rem;
    max-width: 100vw;
}

.footer__widget:nth-child(1) {
    order: 2;
}

.footer__widget:nth-child(2) {
    order: 1;
}

.footer__widget:nth-child(3) {
    order: 3;
}

.footer__widget__titulo {
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.footer__widget__img {
    align-self: center;
}

.footer__widget__img img {
    width: 5rem;
}

.footer__widget__lista {
    list-style: none;
}

.footer__widget__lista--redes {
    list-style: none;
    display: flex;
    column-gap: .7rem;
}

.footer__widget li a {
    color: #FFFFFF;
    font-weight: 600;
}

.copyright {
    grid-area: copy;
    max-width: 100vw;
    padding: .20rem 0px;
    background-color: #022859;
    color: #FFFFFF;
    text-align: center;
}

.copyright p {
    font-size: .75rem;
}

/* MEDIA QUERIES */

/* CELULARES */
@media (min-width: 576px) {
    .navbar {
        flex-direction: row;
    }
    .invertido {
        flex-direction: row;
    }
    .section__article__servicio, .section__microServicio__article {
        flex-direction: row;
        align-items: center;
    }

    .section__article__servicio__img img {
        width: 40vw;
    }

    .section__article__servicio__info {
        margin-left: 0;
    }

    .section__trabajos__container--home {
        flex-direction: row;
        width: 100vw;
    }

    .section__trabajos__trabajo--home {
        width: calc(50vw - 1rem);
    }

    .section__trabajos__trabajo--home img {
        width: 100%;
    }

    .section__nosotros--home {
        flex-direction: row;
        align-items: center;
    }

    .section__nosotros__info {
        margin-left: 0;
    }

    .section__nosotros__img img {
        max-width: calc(50vw - 1rem);
    }

    .section__contacto__container {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .section__contacto__mapa {
        width: 50vw;
    }

    .section__contacto__formulario {
        padding: 0;
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer__widget__img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section__microServicio__article__texto {
        width: calc(2 / 3);
    }
    .section__microServicio__article__imagen {
        width: calc(1 / 3);
    }
    .section__trabajos__container__trabajo {
        width: calc(33.33% - 1.5rem);
    }
    .section__asiTrabajamos__container__imagen {
        display: block;
    }
    .callToAction__contacto--nosotros {
        flex-direction: row;
    }
    .section__nosotros__article {
        flex-direction: column;
    }
}

/* TABLETS */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .section__trabajos__container--home {
        width: 100%;
    }
    .section__trabajos__trabajo--home {
        width: calc(50% - 1rem);
    }
    .section__trabajos__container__trabajo__hover__titulo {
        margin: 0 1.5rem 1.5rem 1rem;
    }
    .section__nosotros__article {
        flex-direction: row;
    }
    .section__nosotros__article__texto {
        width: 60%;
    }
    .section__nosotros__article__imagen {
        width: 40%;
    }
}

/* COMPUTADORAS */
@media (min-width: 1200px) {
    .invertido {
        flex-direction: row-reverse;
    }
    .section__article__servicio__img {
        width: 100%;
    }
    .section__article__servicio__img img {
        width: 100%;
    }
    .section__nosotros__img img {
        max-width: calc(100% - 1rem);
    }
    .section__contacto__mapa, .section__contacto__formulario {
        width: calc(1360px / 2 - 1rem);
    }
    .section__contacto__mapa iframe {
        height: 540px;
    }
    .footer__widget__img {
        width: auto;
        order: 2;
    }
    .footer__widget:nth-child(1) {
        order: 1;
    }
    .footer__widget:nth-child(3) {
        order: 3;
    }
}

/* ANIMACIONES KEYFRAMES */

@keyframes titulo {
    0% {opacity: 0; width: 35rem;}
    50% {opacity: .5; width: 42rem;}
    75% {opacity: .75; width: 38rem;}
    100% {opacity: 1; width: 40rem;}
}